.contacts-container{
    width: 100%;
    display: flex;
    justify-content: center;
    object-fit: contain;   
}
.contacts-sub-container{
        display: flex;
        flex-direction: column;
        min-height: 800px;
        width: 90%;
        box-shadow: 0px 0px 3px grey;      
        margin: 0px;
}
.contacts-items-container{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;  
    text-align: center;
}

.contacts-email-header{
  font-family: 'Exo 2', Arial, sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #a04800;
  padding: 10px;
}
.contacts-email-form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.contacts-form-email{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  min-height: 300px;
  height: auto;
 
}

.contacts-email-header{
  padding: 20px;
  width: 60%;
  font-size: 18px;
}
.EmailLogo{
 max-width: 250px;
 width: auto;
 height: auto;
 margin-left: 60px;
  
}

.label-input-container{
  display: flex;
  gap: 20px;
  padding: 10px;
  width: 100%;
  justify-content: center;
}
/* ------------labels------------ */
.name-label{
  width: 20%;
  max-width: 200px;
}
.email-label{
  width: 20%;
  max-width: 200px;
}
.whatsapp-label{
  width: 20%;
  max-width: 200px;
}
.message-label{
  width: 20%;
  max-width: 200px;
}

/* ------------inputs------------ */
.name-input{
  width:60%;
  max-width:500px;
}
.email-input{
  width: 60%;
  max-width: 500px;
}
.message-input{
  height: auto;
  min-height:200px;
  width: 60%;
  max-width: 500px;
}
.email-submit-btn{
  width: 100px;
}
/* ---------------------------------- */

.whatsapp-form-container{
  max-height: 200px;
  width: auto;
}
.WhatsAppLogo{
  padding: 10px;
  max-height: 200px;
  width: auto;
}
.contacts-form-whatsapp{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  min-height: 300px;
  height: auto;
}
.contacts-whatsapp-form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.whatsapp-input{
  width: 60%;
  margin-left:4px;
  max-width: 500px;
}


@media(min-width:768px){
  .contacts-container{
    width: 100%;
    display: flex;
    justify-content: center;
    object-fit: contain;   
}
.contacts-sub-container{
        display: flex;
        flex-direction: column;
        min-height: 800px;
        width: 90%;
        box-shadow: 0px 0px 3px grey;      
        margin: 0px;
}
.contacts-items-container{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;  
    text-align: center;
}

.contacts-email-header{
  font-family: 'Exo 2', Arial, sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #a04800;
  padding: 10px;
  margin-left: 100px;
}
.contacts-email-form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.contacts-form-email{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  min-height: 300px;
  height: auto;
 
}

.contacts-email-header{
  padding: 20px;
  width: 60%;
  font-size: 18px;
}
.EmailLogo{
 max-width: 250px;
 width: auto;
 height: auto;
 margin-left: 60px;
  
}

.label-input-container{
  display: flex;
  gap: 20px;
  padding: 10px;
  width: 100%;
  justify-content: center;
}
/* ------------labels------------ */
.name-label{
  width: 40%;
  max-width: 200px;
}
.email-label{
  width: 40%;
  max-width: 200px;
}
.whatsapp-label{
  width: 40%;
  max-width: 200px;
}
.message-label{
  width: 40%;
  max-width: 200px;
}

/* ------------inputs------------ */
.name-input{
  width:60%;
  max-width:500px;
}
.email-input{
  width: 60%;
  max-width: 500px;
}
.message-input{
  height: auto;
  min-height:200px;
  width: 60%;
  max-width: 500px;
}
.email-submit-btn{
  width: 100px;
}
/* ---------------------------------- */

.whatsapp-form-container{
  max-height: 200px;
  width: auto;
}
.WhatsAppLogo{
  padding: 10px;
  max-height: 200px;
  width: auto;
}
.contacts-form-whatsapp{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  min-height: 300px;
  height: auto;
}
.contacts-whatsapp-form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.whatsapp-input{
  width: 60%;
  margin-left:4px;
  max-width: 500px;
}

}