.pc-builder-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 780px;
    width: 90%;
    
    /* background-color: #d3d6df; */
}
.pc-builder-plate{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    
    box-shadow: 0px 0px 2px black;
    overflow: hidden;
    
    
}
.header-container{
    padding-left: 40px;
    margin-bottom: 20px;
    height: auto;
    min-height: 120px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    color: #fc6821;
    background-image: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}


.part-selector-container{
 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 40px;
    height: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    
}
.part-label{
    font-size: 18px;
    justify-self: center;
    align-self: center;
    font-weight: bold;
    height: auto;
    width: 100px;
    
}
.part-selector{
    font-size: 18px;
    height: 60px;
    width: auto;
    min-width: 150px;
    background-color: rgb(255, 255, 255);
}
.part-selector{

    height: 60px;
    width: auto;
    min-width: 150px;
    background-color: rgb(255, 255, 255);
}
.part-price{
    font-size: 18px;
    font-family: "Exo 2",Arial, Helvetica, sans-serif;
    justify-self: center;
}
.totals{
    padding: 40px;
    font-size: 24px;
    justify-self: flex-end;
    font-family: "Exo 2",Arial, Helvetica, sans-serif
    ;
}