.formLogin-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  padding: 60px;
  width: 100%;
  max-width: 375px;
  height: auto;


.login-method-label{
  padding: 0px 50px;
  font-family: "Exo 2",arial;
  font-size: 24px;
  font-weight: 600;
}
  
  
}

.formLogin-input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
p.field-error{
  color: rgb(204, 14, 14);
  margin: 0px;
  font-size: 12px;

}

.formLogin-button {
  width: 90%;
  height: 40px;
  background-color: rgb(242, 146, 2);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.formLogin-button:hover {
  background-color: #efce62;
}
