.services-container{
    width: 100%;
    display: flex;
    justify-content: center;
    object-fit: contain;
    
}
.laptops-page-container{
     display: flex;
        flex-direction: column;
        min-height: 800px;
        width: 90%;
        box-shadow: 0px 0px 3px grey;   
        margin-bottom: 2px;
}

.laptops-sub-container{
        display: flex;
        flex-direction: column;
        min-height: 800px;
        width: 100%;
            
}
.services-sub-container{
        display: flex;
        flex-direction: column;
        min-height: 800px;
        width: 90%;
        box-shadow: 0px 0px 3px grey;      
}
.items-container{
    display: flex;
    flex-direction: column;
   
    justify-content: center;
    align-items: center;
  
    
}
.image-container{
    margin: 2px;
    border-radius: 5px;
    width: 360px;
    height: 260px;
    background-color: white;
    box-shadow: 0px 0px 2px grey;
}
.item-image{
    padding: 20px;
    width: 100%;
    height: 100%;
}
.intro-text{
    font-size: 18px;
}
.service-text{
    font-size: 24px;
    padding: 10px;
    align-self: center;
    justify-self: center;
}
.booking-btn {
    font-family: "exo 2","arial";
    font-size: 16px;
    border-style: 1px solid;
    border-radius: 5px;
    background-color: #f3c776;
    min-width: 200px;
    width: 85%;
    height: 32px;
}
.booking-btn:hover{
    cursor: pointer;
}
.booking-btn:active{
    background-color:#f4b746 ;
    transform: translateY(1px);
}

@media (min-width:768px){
.services-container{
    width: 100%;
    display: flex;
    justify-content: center;
    object-fit: contain;
    
}

.services-sub-container{
        display: flex;
        flex-direction: column;
        min-height: 800px;
        width: 90%;
        box-shadow: 0px 0px 3px grey;      
        margin: 0px;
        margin-bottom: 2px;
}
.items-container{
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
    
    justify-content: center;
    align-items: center;  
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 2px grey;

}
.image-container{
    margin: 2px;
    border-radius: 5px;
    width: 360px;
    height: 260px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 0px 2px grey;
   
}
.item-image{
    
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.booking-btn {
    font-family: "exo 2","arial";
    font-size: 16px;
    border-style: 1px solid;
    border-radius: 5px;
    background-color: #f3c776;
    width: 85%;
    height: 32px;
}
.booking-btn:hover{
    cursor: pointer;
}
.booking-btn:active{
    background-color:#f4b746 ;
    transform: translateY(1px);
}

}