.header-container{
    display: flex;
    background-color: blanchedalmond;
    align-items: center;
    justify-content: space-evenly;
    gap: 100px;
    height: 150px;
}
.logo-image{
  height: 80%;
  width: auto;
  margin-bottom: 0px;
  margin-left: 100px;

}