.header-container{
    display: flex;
    flex-direction: row;
    background-color: rgb(243, 185, 109);
    background-image: url("/src/assets/header-bg.jpg");
    background-size: cover;

    height: 15dvh;
    width: auto;
    box-shadow: 2px 3px 5px rgb(244, 244, 245);
    border: 1px;
    border-style: solid;
  
 }
.logo-image{
  display:flex;
  flex-direction: row;
  backdrop-filter: blur(1.5px);
  height: 100%;
  width: auto;
  margin-left: 5%;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);   /*Glow effect*/
  border-radius: 2px;
  /*background-color: rgba(255, 165,0, 0.8);*/
  background-color: rgba(3, 171, 255, 0.2);


}
