 @import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
/* src/styles/navbar.css */

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 12px;
  padding: .25% 10%;
  
  border-bottom: 1px solid #ccc;
}

/* Shared style for ALL nav buttons */
.nav-item {
  margin-bottom: 0%;
  padding: 8px 12px;
  font-size: 14px;
  font-family: "Exo 2",arial;
  border: 1px solid #bbb;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.5);
  color: orange;
  cursor: pointer;
  text-decoration: none;
  
}

/* Works for both <a> and Radix Trigger */
.nav-item:hover {
  background: orange;
  color: rgb(0, 0, 0);
}