/* .order-page-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
}
.order-page-plate{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 90%;
    border-radius: 5px;
    box-shadow: 0px 0px 2px black;
    overflow: visible;
    
    background-color: #ebecf1;
}
.check-out-form-container{
    display: flex;
    height: 400px;
    width: 100%;
    background-color: blue;

}
.card-element-wrapper{
    display: flex;
    height: 50px;
    width: 1000px;
    background-color: chartreuse;
}
 */
