.order-page-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    background-color: #ebb410;
}
.order-page-plate{
    margin-top: 20px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0px 0px 2px black;
    overflow: hidden;
    
    background-color: #d8dae2;
}
